:root{
--env-color:#c5a059;
--env-dark:#b38b4d;
}

/* BODY */

html,body{
margin:0;
padding:0;
width:100%;
min-height:100vh;

font-family:'Segoe UI',Tahoma,sans-serif;

background:url('images/background.jpg') no-repeat center;
background-size:cover;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

overflow-x:hidden;
overflow-y:auto;
}

/* CONTAINER */

.container{
text-align:center;
width:100%;
position:relative;
z-index:10;
}

/* TITLE */

h1{
font-size:42px;
margin:10px 0;

background:linear-gradient(to right,#11dd3d,#080806,#121312);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

text-shadow:2px 2px 4px rgba(0,0,0,0.3);
}

/* ENVELOPE */

.envelope-wrapper{
position:relative;

width:420px;
height:260px;

background:var(--env-color);

margin-top:40px;

box-shadow:0 20px 40px rgba(0,0,0,0.5);

cursor:pointer;

perspective:1000px;

overflow:visible;
}

/* FLAP */

.envelope-wrapper::before{
content:"";
position:absolute;

top:0;
left:0;

border-top:140px solid var(--env-dark);
border-left:210px solid transparent;
border-right:210px solid transparent;

transform-origin:top;

transition:transform .6s;

z-index:5;
}

/* LETTER */

.letter{
position:absolute;

left:50%;
bottom:10px;

transform:translateX(-50%);

width:90%;
max-width:380px;

max-height:70vh;

background:white;

padding:25px;

box-sizing:border-box;

overflow-y:auto;

border-radius:6px;

box-shadow:0 10px 20px rgba(0,0,0,0.25);

opacity:0;
visibility:hidden;

transition:all .6s;

z-index:2;
}

/* OPEN STATE */

.envelope-wrapper.open::before{
transform:rotateX(180deg);
}

.envelope-wrapper.open .letter{
opacity:1;
visibility:visible;

transform:translate(-50%,-150px);
}

/* HEART */

.heart{
position:absolute;

top:110px;
left:50%;

width:40px;
height:40px;

background:#d32f2f;

transform:translateX(-50%) rotate(45deg);

z-index:10;

transition:.4s;
}

.heart::before,
.heart::after{
content:"";
position:absolute;

width:40px;
height:40px;

background:#d32f2f;

border-radius:50%;
}

.heart::before{
left:-20px;
}

.heart::after{
top:-20px;
}

.envelope-wrapper.open .heart{
opacity:0;
}

/* MOBILE */

@media (max-width:600px){

.envelope-wrapper{
width:300px;
height:190px;
}

.envelope-wrapper::before{
border-top:100px solid var(--env-dark);
border-left:150px solid transparent;
border-right:150px solid transparent;
}

.envelope-wrapper.open .letter{
transform:translate(-50%,-100px);
}

}
